<div class="jumbotron">
  <h1>Hi there! </h1>
  <p>
    This small webapp was made by Gerald Hernandez. I hope you enjoy it, source code is available
    <%= link_to 'here', 'https://github.com/monoliths/swapper' %>.
  </p>
</div>
