<div class="jumbotron" style="text-align:center">
    <h1>Swapper</h1>
  <p>
    Welcome to Swapper. Store notes to yourself online so you can access them across all your devices!
  </p>
  <%= link_to 'Sign up', signup_path, class: 'btn btn-primary btn-lg' %>
</div>
